<%= form_tag("/login") do %>
    <div class="box">
        <p>パスワード:  <input type="password" name="password" autofocus></p><br>
        <input type="submit" value="ログイン" class="button" autofocus>
    </div>
<% end %>