<% @user.errors.full_messages.each do |message|%>
    <div class="error_message">
        <%= message %>
    </div>
<% end %>
<%= form_tag("/user/create") do %>
    <div class="box">
        <p>ユーザー名:  <input name="myname" autofocus></p><br>
        <p>パスワード:  <input type="password" name="password"></p><br>
        <input type="submit" value="登録" class="button">
    </div>
<% end %>