// Place all the styles related to the item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.error_message{
    position:relative;
    top:50px;
    color:red;
}

.sub_title{
    font-size:30px;
}

.container{
    position:absolute;
    top:150px;
}

.container p,input,select{
    font-size:30px;
}

.button{
    width:80px;
}
